body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: "Martian Mono", sans-serif;
    background-color: #0b0f17;
    color: white;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Popup overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none; /* let clicks pass through outside box */
}

/* Popup box */
.popup-box {
  background: rgba(30, 30, 40, 0.95);
  color: white;
  padding: 1.2em 2em;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  font-family: sans-serif;
  font-size: 2rem;
  pointer-events: auto; /* clickable inside */
  max-width: 80%;
  animation: popupFade 0.4s ease;
  border-radius: 1em;
}

/* Optional fade animation */
@keyframes popupFade {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

header{
    background: #131821;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
footer {
    background: #131821;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}
.left-bar {
    width: 20%;
}
.center-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
}
.right-bar {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
    font-size: min(3vw, 3vh);
    background-color: #00000000;
    border: 2pt solid #FFF;
    color: #FFF;
    border-radius: 10pt;
    margin-left: min(2vw, 2vh);
    margin-right: min(2vw, 2vh);
    transition: all ease-in-out 0.2s;
}
#home:hover {
    border: 0pt solid #FFF;
    transform: scale(1.2);
}
#toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
    font-size: min(3vw, 3vh);
    background-color: #00000000;
    border: 2pt solid #FFF;
    color: #FFF;
    border-radius: 10pt;
    margin-left: min(2vw, 2vh);
    margin-right: min(2vw, 2vh);
}
#toggleButton.closed {
    transform: rotate(180deg);
}
#toggleButton:hover {
    border: 0pt solid #FFF;
}

.mainContent {
    transition: all ease-in-out 0.3s;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.mainContentHome {
    transition: all ease-in-out 0.3s;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.description {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.description .description1 {
    font-size: 2vw;
    margin: 0px;
    text-shadow: 5pt 5pt 10pt #000;
    filter: drop-shadow(0 0 10px #b1ccfc) drop-shadow(0 0 20px #b1ccfc50);
}
.description .description2 {
    font-size: 4vw;
    margin: 0px;
    text-shadow: 5pt 5pt 10pt #000;
    filter: drop-shadow(0 0 10px #b1ccfc) drop-shadow(0 0 20px #b1ccfc50);
}
.mainContentDocumentation {
    transition: all ease-in-out 0.3s;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}
.documentation {
    width: 80vw;
    height: 100%;
}
.documentation-span {
    height: 2vw;
}
pre {
    width: 60%;
    color: white;
    background: #131821;
    padding: 0.5em;
    border-radius: 1em;
    margin-left: 5%;
    font-size: 1vw;
    overflow: scroll;
}
section {
    margin: 5em;
}
.logoWide {
    transition: all ease-in-out 0.2s;
    width: 10vw;
    margin: 5vh;
    filter: drop-shadow(0 0 5px #cfdffa70) drop-shadow(0 0 20px #cfdffa40);
}
.logoWide:hover {
    transform: scale(1.2);
}
.mainOptions {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.option {
    color: white;
    transition: all ease-in-out 0.2s;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 20pt;
    text-shadow: 0 5pt 10pt rgba(0,0,0,0.3);
    text-decoration: none;
    border: solid 1pt #cfdffa;
    box-shadow: 15pt 5pt 20pt #000;
}
.option:hover {
    transform: scale(1.2);
    border: 0vw solid #222;
    box-shadow: none;
    filter: drop-shadow(0 0 5px #cfdffa) drop-shadow(0 0 20px #cfdffa50);
}
.optionField {
    width: 30vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 10vh;
}

.left-pane {
    transition: all ease-in-out 0.3s;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 5pt solid #888;
}
.left-pane.expanded {
    width: 100%;
    border-right: 0pt solid #888;
    flex-direction: row;
}

.right-pane {
    transition: all ease-in-out 0.3s;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 5pt solid #888;
}
.right-pane.closed {
    width: 0%;
    overflow: hidden;
    border-left: 0pt solid #888;
}
.actions-pane {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left-pane.expanded .actions-pane {
    flex-direction: column;
}

.drop-zone {
    height: 30vh;
    width: 60%;
    border: 5pt solid lightblue;
    border-radius: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #555;
    font-size: 1.5em;
    transition: background-color 0.2s;
}
.left-pane.expanded .drop-zone {
    margin: 30pt;
    padding-left: 0vw;
    padding-right: 0vw;
    width: 20%;
    height: 30vh;
    border: 5pt solid lightblue;
    border-radius: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #555;
    font-size: 1.5em;
    transition: background-color 0.2s;
}

.actions-pane .drop-zone {
    height: 4vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.left-pane.expanded .actions-pane .drop-zone {
    width: 80% !important;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.drop-zone.dragover {
    background-color: #e0e0e0;
    border: 10pt dashed darkblue;
}

.blank-presentation {
    margin: 10pt;
    height: 10vh;
    border: 3pt solid darkgreen;
    border-radius: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: green;
    font-size: 1.8em;
    transition: all ease-in-out 0.3s;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 10vh;
    margin-left: 0vw;
    box-shadow: 15pt 5pt 25pt #000;
}
.left-pane.expanded .blank-presentation {
    margin-top: 0vh;
    margin-left: 5vw;
}
.blank-presentation:hover {
    background-color: darkgreen;
    border: 5pt solid green;
    color: #FFFFFF;
    filter: drop-shadow(0 0 10px green) drop-shadow(0 0 15px green);
    box-shadow: 0pt 0pt 10pt #00000020;
}



.compileButton {
    transition: all ease-in-out 0.2s;
    padding: 1vw;
    margin: 4vh;
    font-size: min(3vw, 3vh);
    border-radius: 10pt;
    box-shadow: 15pt 5pt 20pt #000;
    background-color: #b1ccfc;
}
.compileButton:hover {
    transform: scale(1.2);
    border: 0pt solid #FFF;
    filter: drop-shadow(0 0 5px #b1ccfc80) drop-shadow(0 0 10px #b1ccfc60);
    box-shadow: 0pt 0pt 10pt #00000020;
}

.download-button {
    display: inline-block;
    margin: 5vw;
    padding: 5% 5%;
    background: #333;
    color: white;
    border-radius: 10pt;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.download-button:hover {
    transform: scale(1.2);
    background: #555;
}

.edit-button {
    display: inline-block;
    margin: 5vw;
    padding: 5% 5%;
    background: #2596be;
    color: white;
    border-radius: 10pt;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.edit-button:hover {
    transform: scale(1.2);
    background: #1c7595;
}

.editor {
    width: 85%;
    height: 88%;
    font-family: "Space Mono", sans-serif;
    font-size: 2em;
    color: #FFFFFF;
    background: #131821;
    padding: 1em;
    margin: 1em;
    border: 3pt solid #0b0f17;
    border-radius: 1em;
    filter: drop-shadow(0 0 5px #b1ccfc50) drop-shadow(0 0 10px #b1ccfc30);
    transition: all ease-in-out 0.2s;
    outline: none;
}

.editor:focus {
    filter: drop-shadow(0 0 10px #b1ccfc70) drop-shadow(0 0 20px #b1ccfc40);
    border: 3pt solid #b1ccfc80;
}
