<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ImGoaTeX Compiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <canvas id="bg"></canvas>
    <header id="header">
        <div class="left-bar">
            <button id="home" onclick="window.location.href='/'">🏠</button>
        </div>
        <div class="center-bar">
            <h1>ImGoaTeX - Improved Graphics and Objectivly more Accessible than TeX</h1>
        </div>
        <div class="right-bar">
        </div>
    </header>
    <main id="main-content" class="mainContentHome">
        <img onclick="window.location.href='https://github.com/ArnaudLelievre48/ImGoaTeX'" class="logoWide" src="{{ url_for('static', filename='ImGoaTeX-white.png') }}"></img>
        <div class="description">
            <p class="description1">The familiarity of good old LaTeX</p>
            <p class="description2">But with today's features</p>
        </div>
        <div class="mainOptions">
            <div class="optionField">
                <a class="option" href="/documentation" title="Documentation"><p>📚 Documentation</p></a>
                
            </div>
            <div class="optionField">
                <a class="option" href="/imgoatex" title="TryOutImGoaTeX"><p> 👨‍💻 Try ImGoaTeX out !</p></a>
                
            </div>

        </div>
    </main>

    <footer>
        <small>© {{ 2025 }} ImGoaTeX</small>
    </footer>

    <!-- JS -->
    <script src="{{ url_for('static', filename='script-bg.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
