<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ImGoaTeX Compiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <header id="header">
        <div class="left-bar">
            <button id="home" onclick="window.location.href='/'">🏠</button>
        </div>
        <div class="center-bar">
            <h1>ImGoaTeX - Improved Graphics and Objectivly more Accessible than TeX</h1>
        </div>
        <div class="right-bar">
            <button id="toggleButton">></button>
        </div>
    </header>
    <main id="main-content" class="mainContent">
        <div class="left-pane">
            <div id="dropZone" class="drop-zone">
                Drop your ".igtex" file here
            </div>
            <div id="blankPresentation" class="blank-presentation">
                Blank presentation
            </div>
        </div>
        <div class="right-pane">
            <img class="demo" src="{{ url_for('static', filename='demo.gif') }}"></img>
        </div>
    </main>

    <footer>
        <small>© {{ 2026 }} ImGoaTeX</small>
    </footer>

    <!-- JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
